#calculator {
    background-color: #181D31;
    margin: 50px auto;
    width: 350px;
    height: 450px;
    padding: 4%;
    border-radius: 10%;
    box-shadow: 4px 3px 4px 5px #678983;
}

#display {
    border-radius: 12px;
    background-color: #E6DDC4;
    color: #678983;
    text-align: right;
    font-size: 50px;
    margin: 2% auto;
    width: 350px;
    height: 50px;
    padding: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.row {
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin: 3% auto;
    width: 350px;
}

button {
    width: 65px;
    height: 65px;
    border-radius: 12px;
    color: #678983;
    font-size: 35px;
    font-weight: 900;
    background-color: #F0E9D2;
    margin: 1% 0;
}

button:hover {
    box-shadow: 2px 2px 3px 4px #678983;
    color: #181D31;
}

#equals {

    width: 260px;
    height: 65px;
    border-radius: 12px;
    color: #678983;
    font-size: 35px;
    font-weight: 900;
    background-color: #F0E9D2;

}

.operator {
    background-color: #678983;
    color: #F0E9D2;
}

.operator:hover {
    box-shadow: 2px 2px 3px 4px #F0E9D2;
    color: #181D31;
}

.author {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    height: 30px;
    font-size: 18px;
    background-color: #181D31;
    color: #F0E9D2;
    border-radius: 12px;
    margin: 15% auto;
    padding: 1%;
}

a {
    text-decoration: none;
    color: #F0E9D2;
}